/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generals */

/* Presentation */
.container-fluid.custom-background {
    background-color: rgb(26, 188, 156);
}

img {
    width: 100%;
    display: block;
    height: 350px;
}

.line-w {
    width: 250px;
}

.line-h {
    height: 5px;
    border-radius: 25px;
}

.star-break {
    font-size: 25px;
}

.line-break {
    border-bottom: 3px solid;
    width: 60px;
    margin: 0 10px;
}