/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generals */
header {
    height: 100px;
}

/* Presentation */
.container-fluid.custom-background {
    background-color: rgb(26, 188, 156);
}

img {
    width: 100%;
    display: block;
    height: 350px;
}